<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Folkster</title>
</head>

<body>

<!--HEADER-->
<div class="container-fluid" style="background-color:rgba(242,85,120,1);">
	<!--NAV-->
	<nav class="container">
	<h1 class="logotype">Folkster</h1>
	</nav>
</div>


	<!--CONTAINER WRAPPER-->
	<div class="container">
	<!--SHOW LISTINGS-->
	<% @listings.each do |listing| %>
		<div style="border:1px solid red;">
		    <h2 class="pink"><%= listing.name %></h2>
		    <p><%= listing.description %></p>
		    <i><%= listing.address %></i>
		</div>

		<hr />
	<% end %>
	</div><!--/container-->








<!--FOOTER/CREDITS-->
<hr>
<h5>Folkster is an Online Directory and Database built on Rails for local folks to list services and nodes of connection | &copy; 2019 Melanie K Dee</h5>

</body>
</html>

