@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Chewy&display=swap');

body {
	background-color: #f2f2f2;
	background: image_url('triangle-mosaic-34.png');



}
/*TYPOGRAPHY*/

.logotype {
	font-family: 'Chewy', sans-serif;
	text-transform: lowercase;
	color: #9b2c49;}

h1.logotype {
	color:white;
	text-transform: lowercase;
	font-family: 'Chewy', sans-serif;
	text-shadow: 0px 1px 5px #9b2c49;
}

h2.pink {
	font-family: 'Roboto',sans-serif;
	font-weight: medium;
	font-size: 18pt;
	color: rgba(242,85,120,1.0);
}

.lightweight {
	font-weight: 300;
}



/*ASSETS*/

#mytop-nav {
	margin-bottom: 25px;
}

.mybrand {
	background-color: rgba(242,85,120,1);
	background: image_url('triangle-mosaic-mybrand.png');
	/*box-shadow: 0px 1px 2px #999999;*/
}

.mydark {
	background-color: rgba(242,85,120,1);
	color: white
}

.mycard {
	padding: 20px;
	border-radius: 13px;	
}



/*MEDIA QUERIES*/

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}